<mat-sidenav-container>
  <mat-sidenav #filter mode=push>
    <h2 class="title"> Filter journeys </h2>
    <mat-divider></mat-divider>
    <div  *ngFor="let option of selectedOptions">
      <div class="display-flex" *ngFor="let tag of option.elements">
        <app-badge [text]="tag" [backgroundColor]="getBadgeColor(option.category)"></app-badge>
      </div>
    </div>

    <div class="filter-table-container" *ngFor="let option of filterOptions">
      <app-expand
        [title]="option.title"
        (expandedEvent)="getExpended($event)"
      >
      </app-expand>
      <app-table-filter-journey
        [title]=option.title
        [isExpand]="option.expended"
        [filterElements]="option.data"
      >
      </app-table-filter-journey>
      <mat-divider></mat-divider>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

