@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@600&display=swap');

.carousel-container {
  position: relative;
}

.title {
  position: absolute;
  top: 40%;
  left: 45%;
  font-family: 'DynaPuff', cursive;
  color: var(--orange);
  font-size: 50px;
  text-decoration: none;
}
a:hover {
  font-size: 70px;
  top: 40%;
  left: 42%;
}
